:root {
    --cust-light-color: #F2F2F2;
    --cust-main-color: color(display-p3 0.26043 0.38786 0.49537);
    --cust-dark-color: #303030;
    --cust-border-color: #D2D2D2;
    --cust-mask-color: rgba(0, 0, 0, 0.8);

    --cust-card-width: 325px;
    --cust-pict-width: 400px;
    --cust-section-padding: 4rem 6dvw;
    --cust-text-padding: 16px;
    --cust-border: 1px solid var(--cust-border-color, lightgray);
    --cust-border-radius: 1rem;
    --cust-col-gap: 4dvw;
    --cust-row-gap: calc(2dvh + 1dvw);

    --cust-md-font-size: 1.1rem;
    --cust-lg-font-size: 1.5rem;
    --cust-ln-height: 2.2rem;
    --cust-compact-ln-height: 1.5rem;
}

body[data-theme='dark'] {
    --cust-light-color: rgb(90, 90, 90);
    --cust-main-color: #303030;
    --cust-dark-color: #f2f2f2;
    --cust-border-color: #D2D2D2;
    --cust-mask-color: rgba(0, 0, 0, 0.8);

    --cust-card-width: 325px;
    --cust-pict-width: 400px;
    --cust-section-padding: 4rem 6dvw;
    --cust-text-padding: 16px;
    --cust-border: 1px solid black;
    --cust-border-radius: 1rem;
    --cust-col-gap: 4dvw;
    --cust-row-gap: calc(2dvh + 1dvw);

    --cust-md-font-size: 1.1rem;
    --cust-lg-font-size: 1.5rem;
    --cust-ln-height: 2.2rem;
    --cust-compact-ln-height: 1.5rem;
}

@font-face {
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-style: normal;
    src: url('/assets/fonts/Anonymous_Pro/AnonymousPro-Regular.ttf');
}

@font-face {
    font-family: 'Anonymous Pro';
    font-weight: bold;
    font-style: normal;
    src: url('/assets/fonts/Anonymous_Pro/AnonymousPro-Bold.ttf');
}

@font-face {
    font-family: 'Anonymous Pro';
    font-weight: normal;
    font-style: italic;
    src: url('/assets/fonts/Anonymous_Pro/AnonymousPro-Italic.ttf');
}

@font-face {
    font-family: 'Anonymous Pro';
    font-weight: bold;
    font-style: italic;
    src: url('/assets/fonts/Anonymous_Pro/AnonymousPro-BoldItalic.ttf');
}

/* NAV BAR */
@media screen and (width < 600px) {
    nav label {
        display: block;
        border: var(--cust-border);
        border-radius: 0.5rem;
        margin-left: auto;
    }

    nav img {
        display: block;
        margin: 5px;
    }

    nav input:checked ~ ul {
        display: block;
    }

    nav input:checked ~ label {
        background-color: var(--cust-border-color, lightgray);
    }

    nav ul {
        display: none;
        width: 100%;
        background-color: var(--cust-light-color, white);
        text-align: center;
        padding: 0;
        margin-bottom: 3rem;
    }

    li {
        list-style-type: none;
        display: list-item;
        padding: 2dvh 0;
    }
}

@media screen and (width >= 600px) {
    nav label {
        display: none;
    }

    li {
        display: inline-block;
        padding: 0.5rem 2.5dvw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--cust-light-color, white);
    border-bottom: 0.25rem solid var(--cust-dark-color, black);
    z-index: 1;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul a {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: transparent;
    color: var(--cust-dark-color, black);
    transition: text-decoration-color 0.25s ease-in-out;
}

nav > a {
    line-height: 1rem;
    text-decoration: none;
    color: var(--cust-dark-color, black);
    padding: 0.85rem;
    margin: 0;
}

nav > input {
    display: none;
}

nav ul a:hover {
    text-decoration-color: var(--cust-dark-color, black);
}

nav > ul input {
    background-color: green;
}



/* GENERAL */
html {
    font-family: 'Verdana', 'Arial', 'Helvetica', 'Times New Roman';

    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h2 {
    margin: 0 0 3rem;

    font-family: 'Anonymous Pro', 'Monaco', 'Lucida Console', 'Times New Roman';
    font-size: calc(2.5rem + 2dvw);
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

h3 {
    margin: 0;

    color: var(--cust-dark-color); /**/

    font-style: normal;
    font-weight: normal;
}

#aboutme, #skills, #hw4 {
    background-color: var(--cust-main-color, cornflowerblue);
    color: var(--cust-light-color, white);
}

#projects, #resume, footer {
    background-color: var(--cust-light-color, white);
    color: var(--cust-dark-color, black);
}

section {
    padding: var(--cust-section-padding);
}

section > div {
    align-items: stretch;
    display: flex;
    column-gap: var(--cust-col-gap);
    flex-flow: row wrap;
    justify-content: center;
    row-gap: var(--cust-row-gap);
    /* margin: var(--cust-flex-margin); */

    animation: fadeIn 1s;
    z-index: 0;
}

/* ABOUTME SECTION */
/* #aboutme > div {
    align-items: center;
} */

#aboutme picture {
    width: var(--cust-pict-width);
}

#aboutme img {
    object-fit: cover;
    object-position: center center;

    box-sizing: border-box;
    width: 100%;
    border: calc(0.3rem + 0.1dvw) solid var(--cust-light-color, white);
    border-radius: 50%;
}

#aboutme p {
    align-self: center;
    box-sizing: border-box;
    width: 600px;
    border: var(--cust-border);
    border-radius: var(--cust-border-radius);
    padding: var(--cust-text-padding);
    margin: 0;

    font-size: var(--cust-md-font-size);
    line-height: var(--cust-ln-height);

    background-color: var(--cust-light-color, white);
    color: var(--cust-dark-color, black);
}

/* PROJECTS SECTION */
#projects > div > div {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    width: var(--cust-card-width);
    border: var(--cust-border);
    border-radius: var(--cust-border-radius);
}

#projects h3 {
    padding: var(--cust-text-padding);
    border-radius: var(--cust-border-radius) var(--cust-border-radius) 0 0;

    background-color: var(--cust-light-color, white);

    font-size: var(--cust-md-font-size);
}

#projects p {
    flex-grow: 1;
    padding: var(--cust-text-padding);
    border-radius: 0 0 var(--cust-border-radius) var(--cust-border-radius);
    margin: 0;

    color: transparent;

    line-height: var(--cust-compact-ln-height);
}

#proj-1 p {
    background-image: url('/assets/previews/CSE_134B_Website_Preview.webp');
    background-size: cover;
    background-position: top center;
}

#proj-1:hover p {
    color: var(--cust-light-color, white);
    background-image: linear-gradient(var(--cust-mask-color, black), var(--cust-mask-color, black)), url('/assets/previews/CSE_134B_Website_Preview.webp');
}

#proj-2 p {
    background-image: url('/assets/previews/CSE_135_Website_Preview.webp');
    background-size: cover;

}

#proj-2:hover p {
    color: var(--cust-light-color, white);
    background-image: linear-gradient(var(--cust-mask-color, black), var(--cust-mask-color, black)), url('/assets/previews/CSE_135_Website_Preview.webp');
}

#proj-3 p {
    background-image: url('/assets/previews/RoommateHub_Preview.webp');
    background-size: cover;
    background-position: top center;
}

#proj-3:hover p {
    color: var(--cust-light-color, white);
    background-image: linear-gradient(var(--cust-mask-color, black), var(--cust-mask-color, black)), url('/assets/previews/RoommateHub_Preview.webp');
}

#proj-4 p {
    background-color: color-mix(in srgb, #9acd32 60%, white);
}

#proj-4:hover p {
    color: var(--cust-light-color, white);
    background-color: var(--cust-mask-color, black);
}

#proj-5 p {
    background-color: color-mix(in srgb, #fa8072 60%, white);
}

#proj-5:hover p {
    color: var(--cust-light-color, white);
    background-color: var(--cust-mask-color, black);
}

/* SKILLS SECTION */
#skills figure {
    box-sizing: border-box;
    width: var(--cust-card-width);
    padding: var(--cust-text-padding);
    border: var(--cust-border);
    border-radius: var(--cust-border-radius);
    margin: 0;
    
    background-color: var(--cust-light-color, white);
    
    text-align: center;
}

#skills img {
    width: 100px;
}


#skills h3 {
    margin: var(--cust-text-padding) 0;

    font-size: var(--cust-lg-font-size);
}

#skills figcaption {
    color: var(--cust-dark-color, black);

    line-height: var(--cust-compact-ln-height);
}




/* EXAMPLE RESUME SECTION */
#resume picture {
    width: var(--cust-pict-width);
}

#resume img {
    box-sizing: border-box;
    width: 100%;
    border: var(--cust-border);
}

#resume a {
    align-self: center;
    
    padding: var(--cust-text-padding);
    border: var(--cust-border);
    border-radius: var(--cust-border-radius);

    color: var(--cust-dark-color, black);

    text-decoration: none;
}

#resume a:hover {
    background-color: var(--cust-border-color, lightgray);
}


/* FOOTER SECTION */
footer {
    padding: 2rem 0;
    text-align: center;
}

footer p:nth-child(1) {
    margin: 0;
}

footer p:has(+ a) {
    margin: 1rem 0;
}

footer a {
    color: var(--cust-dark-color, black);
}




/* --------------------------- NEW FOR HW4 ---------------------------- */

/* FORM SECTION */

#hw4 form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;

    min-width: 0;

    padding: var(--cust-text-padding);
    border: var(--cust-border);
    border-radius: var(--cust-border-radius);
    
    background-color: var(--cust-light-color, white);
}

#hw4 label {
    display: block;
    margin: 0 0 8px;

    color: var(--cust-dark-color, black);

    text-align: center;
}

#hw4 input {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    width: 200px;
    padding: 8px;
    border: var(--cust-border);
    border-radius: 0.25rem;
    outline: none;
    margin: 0 auto;

    background-color: white;
}

#hw4 textarea {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    width: 300px;
    padding: 8px;
    border: var(--cust-border);
    border-radius: 0.25rem;
    outline: none;
    margin: 0 auto;
    resize: none;
    
    background-color: white;
    
    font-family: 'Verdana', 'Arial', 'Helvetica', 'Times New Roman';
}

#hw4 output {
    display: block;
    padding: 4px 0 0;
    margin: 0;

    font-size: 0.7rem;
    text-align: center;
}

#hw4 button {
    max-width: 100%;
    width: 100px;
    padding: var(--cust-text-padding);
    border: var(--cust-border);
    border-radius: var(--cust-border-radius);
    margin: 0 auto;

    color: var(--cust-dark-color, black);

    text-decoration: none;
}

#hw4 label:has(+ input:required)::after, #hw4 label:has(+ textarea:required)::after {
    content: ' *';
    color: red;
}

#hw4 input:focus, #hw4 textarea:focus{
    border-color: var(--cust-dark-color);
    outline: 1px solid var(--cust-dark-color);
}

#hw4 input:valid, #hw4 textarea:valid {
    background-color:rgb(194, 247, 193);
}

#hw4 input:user-invalid, #hw4 textarea:user-invalid {
    background-color:rgb(247, 193, 193);
}

#hw4 input:placeholder-shown, #hw4 textarea:placeholder-shown {
    font-style: italic;
}

#hw4 output:nth-of-type(1) {
    color: var(--cust-main-color);
}

#hw4 output:nth-of-type(2) {
    visibility: hidden;

    color: red;
}

#hw4 input:user-invalid + output + output, #hw4 textarea:user-invalid + output + output {
    visibility: visible;
}

#hw4 button:hover {
    background-color: var(--cust-border-color, lightgray);
}